@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

video, img {
  /*height: 100%;*/
  width: 100%;
}

img.boy {
  width: 80%;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  line-height: 1.7;
}

.slider-container {
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
  background: black;
}
.slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*padding: 1rem;*/
  user-select: none;
}

.slide video {
  transition: transform 0.3s ease-in-out;
}

.slide div {
  transition: transform 0.3s ease-in-out;
}

.slide h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  position: absolute;
}

.big-number {
  font-size: 15rem;
  margin-top: 5rem;
}

.big-emoji {
  font-size: 15rem;
}

.slide h4 {
  font-size: 1.3rem;
}
.btn {
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.5rem;
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide video, .grabbing .slide div {
  transform: scale(0.9);
}

h2.white {
  margin-bottom: 0;
  position: relative;
}

.slide.white {
  background-color: white;
}

.slide.white h2 {
    color: black;
    text-align: center;
}

.column {
  float: left;
  width:  50%;
}

.row::after {
  content: "";
  clear:  both;
  display: table;
}

.title-word-1 {
  --color-1: white;
  --color-2: orange;
  --color-3: green;
  --color-4: pink;
  --color-5: blue;
  --color-6: red;
  --color-7: purple;
}

@keyframes color-animation {
  0%: {color: var(--color-1)};
  32%: {color: var(--color-1)};
  33%: {color: var(--color-2)};
  65%: {color: var(--color-3)};
  66%: {color: var(--color-3)};
  99%: {color: var(--color-3)};
  100%: {color: var(--color-1)};
}

.title-word {
  animation: color-animation 4s linear infinite;
  -webkit-animation: color-animation 4s linear infinite;
}


@-webkit-keyframes color-animation {
  0%: 
  32%: {color: var(--color-1)};
  33%: {color: var(--color-2)};
  65%: {color: var(--color-3)};
  66%: {color: var(--color-3)};
  99%: {color: var(--color-3)};
  100%: {color: var(--color-1)};
}


.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#sound {
   width: 30px;
   height: 25px;
   top: 30px;
   left: 30px;
   background-color: black;
   position: absolute;
   background-position: center;
   background-image: url(../img/speaker_off.png);
   background-position: left;
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
   opacity: 0.6;
}

audio {
    z-index: auto;
}
